 
html {
    font-size: 14px;
}
.blog-masthead {
    background-color: #b34848;
}
h1, h2, h3{
    color: #b34848;
}

.blog-post-title:hover {
    color: #b34848;
    text-decoration: underline;
}

#comments p {
    color: #b34848;
    font-size: 1.5rem;
    padding-top: 1rem;
}


#del-btn-com{
    float: right;
    margin-top: -30px;
}
